@using snowdevil.Models.ViewModels 
@model StoreViewModel
<section>
    <div class="container">
        <div class="columns">
            <div class="column "></div>
            <div class="column is-four-fifths">
                <div>
                    <h2 class="title text-center">FAQ</h2>
                    <div class="columns products">
                        <div class="text-center" style="padding:20px">
                            <strong>How can I buy your products?</strong><br />
                        <p>
                            Through our website and shopping cart feature.
                        </p><br />

                        <strong>Do you sell gift cards?</strong><br />
                        <p>
                            Yes we do offer gift cards, they are available through our website.
                        </p><br />

                        <strong>
                            Where do you ship to?
                        </strong><br />
                        <p>
                            Where do you ship to?
                        </p><br />

                        <strong>How do I contact customer service?</strong><br />
                        <p>
                            You can contact us by referring to our contact page.
                        </p><br />

                        <strong>How can I get a discount or special offer?</strong><br />
                        <p>We run sales seasonally, keep an eye out!</p><br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="column "></div>
        </div>
    </div>

</section>
