@using snowdevil.Models.ViewModels 
@model StoreViewModel
<section>
    <div class="container">
        <div class="columns">
            <div class="column "></div>
            <div class="column is-four-fifths">
                <div>
                    <h2 class="title text-center">About Us</h2>
                    <div class="columns products">
                        <p class="text-center" style="padding:20px">
                            Snowdevil is not your typical snowboard store.<br /> 
                            Instead, Snowdevil is a partnership among two riders who are only interested in selling boards and bindings that they love to ride on. Nothing else.

                            Every year the guys at Snowdevil only choose about 10 types of boards and 5 types of bindings that they feel offer the best quality and design that the industry has to offer.

                            If this sounds a little elitist, it’s because it is. If we don’t like it, we wont sell it.

                            If you want big brands like Burton or K2, you should try Walmart. If you want high-end top quality brands like Never Summer, Nidecker, Technine and Arbor you should try us.<br /><br />

                            Yours truly,<br />

                            Gabriel <br />  

                            Erisa <br />

                            Amber <br />

                            Marlie <br />   
                        </p>
                    </div>
                </div>
            </div>
            <div class="column "></div>
        </div>
    </div>

</section>
