<div class="container">
    <h1 class="subtitle">Snow Devil Shipping Policy</h1>
    <p>Snow Devil is pleased to deliver to all fifty states including Alaska and Hawaii, U.S. Territories, APO, FPO, and international addresses. However, arrival date estimations only apply to the lower 48 contiguous U.S. states.</p><br /><br />
    <table style="width: 100%">
        <tr>
            <th>Shipping Method</th>
            <th>Estimated Arrival Date</th>
            <th>Carrier</th>
        </tr>
        <tr>
            <td>Standard Shipping</td>
            <td>4-7 Business Days</td>
            <td>USPS Mail</td>
        </tr>
        <tr>
            <td>Two-Day Express</td>
            <td>1-2 Business Days</td>
            <td>UPS Ground</td>
        </tr>
        <tr>
            <td>Overnight Express</td>
            <td>1 Business Day</td>
            <td>FedEx Express</td>
        </tr>
    </table>
    <br /><br />
    <h3>Unforeseen circumstances and weather may cause delays in shipping. Estimated dates or arrival are not guaranteed. </h3>

    <br /><br />
    <h2>Packages Will Not Ship From the Warehouse on the Following Holidays: </h2>
    <ul>
        <li>Christmas</li>
        <li>Memorial Day</li>
        <li>Labor Day</li>
        <li>President’s Day</li>
        <li>Thanksgiving</li>
        <li>Martin Luther King Jr. Day</li>
        <li>4th of July</li>
        <li>New Year’s Eve</li>
        <li>New Year’s Day</li>
    </ul>

    <br /><br />
    <h2 class="h4">Policies</h2>
    <ul>
        <li>We reserve the right to cancel an order at any time, and in doing so will refund the purchaser’s card within 48 hours of cancellation</li>
        <li>All returns must be shipped at purchaser’s expense</li>
        <li>Hazardous, oversized, or flammable items are required to ship via ground shipping</li>
        <li>Oversized items such as skiis must be shipped via USPS mail.</li>
    </ul>
</div>